/*
--------
Reset
--------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------
Common
--------
*/

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title > img {
    margin-right: .625rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem .3125rem .625rem .3125rem;
    outline: .0625rem solid black;
    border-radius: .625rem;
    margin-bottom: .0625rem;
}

.doneToDo {
    text-decoration: line-through;
}

/*
--------
Main
--------
*/

#app {
    width: 50rem;
    margin: 0 auto;
}